.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  background: linear-gradient(180deg, #87c75a 0%, #469327 100%);
  border-radius: 36px;
  padding: 48px 16px;

  @include media(desktop) {
    padding: 64px 0px;
  }
}

.contact-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 72px;
  }
}

.contact-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.contact-link {
  background: #ff6a4a;
  border: 2px solid #c8c8c8;
  border-radius: 12px;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  word-break: break-all;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 10px 41px;
    font-size: 28px;
  }
}

.arrow-icon {
  min-width: 32px;

  @include media(desktop) {
  }
}
