.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  border: 1px solid #9f8aa9;
  border-radius: 36px;
  padding: 39px 15px;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding: 64px;
    background-image: url(../img/contact/contact-bg-desk.png);
  }
}

.contact-title {
  margin-bottom: 0;

  @include media(desktop) {
    text-align: left;
  }
}

.contact-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    text-align: left;
  }
}

.contact-link {
  background: #f1009d;
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  word-break: break-all;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    margin-left: 0;
  }
}

.arrow-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}
