.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 380px;
  padding-bottom: 108px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;

  @include media(desktop) {
    padding-top: 370px;
    padding-bottom: 56px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-img {
  position: absolute;
  top: 171px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @include media(desktop) {
    top: 132px;
    right: 140px;
    left: auto;
    transform: none;
  }
}

.hero-btn-wrapper {
  backdrop-filter: blur(16px);
  background: rgba(33, 9, 47, 0.8);
  border: 1px solid #9f8aa9;
  border-radius: 36px;
  padding: 60px 23px 31px;

  @include media(desktop) {
    padding: 102px 23px 31px;
    max-width: 518px;
    margin-left: auto;
  }
}

.hero-subtitle {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.hero-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #d0d8ed;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(316deg, #f1009d 0%, #2cb9f8 100%);
  border-radius: 50px;
  padding: 12px 20px;
  width: 100%;
  max-width: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(136deg, #f1009d 0%, #2cb9f8 100%);

    .her-btn-top-text {
    }

    .her-btn-bottom-text {
    }
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
