<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-top-wrapper">
        <div class="about-top-text-wrapper">
          <h2 class="section-title about-title">About the Game</h2>
          <p class="about-top-text">
            Picross Logic is a classic nonogram puzzle game rooted in logic and
            deduction. Each puzzle presents players with a grid and numeric
            clues along the rows and columns.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img1-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="294" />
          <source
            srcset="./img/about/about-img1-mob.png"
            width="343"
            height="242" />
          <img
            class="about-img1"
            src="./img/about/about-img1-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="242"
            loading="lazy"
        /></picture>
      </div>
      <div class="about-bottom-wrapper">
        <img
          class="about-img2"
          src="./img/about/about-img2-mob.png"
          alt="Screenshot of the game"
          width="304"
          height="213"
          loading="lazy"
        />
        <div class="about-bottom-text-wrapper">
          <p class="about-bottom-text">
            By interpreting these clues and determining which squares to fill or
            mark, players gradually reveal a hidden picture beneath the surface.
          </p>
          <p class="about-bottom-text">
            We wanted to make something that's chill but still makes your brain
            work - you'll pick it up quickly, but trust me, some of these
            puzzles will have you scratching your head.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img3-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="294" />
          <source
            srcset="./img/about/about-img3-mob.png"
            width="343"
            height="294" />
          <img
            class="about-img3"
            src="./img/about/about-img3-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="294"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
