<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <img
          class="contact-img"
          src="./img/contact/contact-img.png"
          alt="Screenshot of the game"
          width="128"
          height="129"
          loading="lazy"
        />
        <h2 class="contact-title">Contact</h2>
        <p class="contact-text">Support and questions:</p>
        <a href="mailto:info@brandaxo.site" class="contact-link">
          <span class="contact-btn-span">info@brandaxo.site</span>
          <svg class="arrow-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
