<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="contact-text">Support and questions</p>
        <a href="mailto:info@visionmark.pro" class="contact-link">
          <span class="contact-btn-span">info@visionmark.pro</span>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
