<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Hard Rock Adventures free to play?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="12" height="12">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — the game is free with optional in-app purchases.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Do I need fast reactions?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="12" height="12">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              No — exploration and puzzle solving are unrushed and thoughtful.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play casually?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="12" height="12">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Totally - whether you've got 10 minutes or a few hours, you'll
              make progress.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there enemies to fight?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="12" height="12">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              There are interactive creatures, but focus is on puzzles and
              environment, not combat.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Does the game have long-term progression?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="12" height="12">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — discovering relics and unlocking new areas expands the
              adventure.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there hidden secrets?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="12" height="12">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — every region contains hidden pathways and treasures.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
