<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Features</h2>
      <p class="features-text">
        No timers, no pressure — just thoughtful puzzles you can solve at your
        own pace.
      </p>
      <ul class="features-list">
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img1-desk.png"
              media="(min-width: 1440px)"
              width="640"
              height="400" />
            <source
              srcset="./img/features/features-img1-mob.png"
              width="343"
              height="400" />
            <img
              class="features-img"
              src="./img/features/features-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="400"
          /></picture>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img2-desk.png"
              media="(min-width: 1440px)"
              width="640"
              height="400" />
            <source
              srcset="./img/features/features-img2-mob.png"
              width="343"
              height="400" />
            <img
              class="features-img"
              src="./img/features/features-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="400"
          /></picture>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img3-desk.png"
              media="(min-width: 1440px)"
              width="640"
              height="400" />
            <source
              srcset="./img/features/features-img3-mob.png"
              width="343"
              height="400" />
            <img
              class="features-img"
              src="./img/features/features-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="400"
          /></picture>
        </li>
        <li class="features-list-item">
          <picture>
            <source
              srcset="./img/features/features-img4-desk.png"
              media="(min-width: 1440px)"
              width="640"
              height="400" />
            <source
              srcset="./img/features/features-img4-mob.png"
              width="343"
              height="400" />
            <img
              class="features-img"
              src="./img/features/features-img4-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="400"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
