<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="728"
            height="322" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="343"
            height="152" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="152"
        /></picture>
        <p class="hero-text">
          Use logic, fill the grid, and uncover hidden images.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.twodesperados.pic.cross.picross.logic&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
