<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="366"
            height="318" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="279"
            height="241" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="279"
            height="241"
        /></picture>
        <div class="hero-btn-wrapper">
          <p class="hero-subtitle">Explore the Rocks. Discover the Secrets.</p>
          <p class="hero-text">
            Tackle clever puzzles, uncover hidden paths, and master the world of
            Hard Rock Adventures.
          </p>
          <a
            class="hero-btn"
            href="https://play.google.com/store/apps/details?id=com.hardrock.adventures&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="playstore-icon" width="30" height="34">
              <use href="./img/sprite.svg#icon-playstore"></use>
            </svg>
            <div class="hero-btn-text-wrapper">
              <p class="her-btn-top-text">GET IT ON</p>
              <p class="her-btn-bottom-text">Google Play</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
