<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <h2 class="play-title">How to Play</h2>
      <p class="play-text">
        No random guessing here – every puzzle has a logical solution if you
        think it through.
      </p>
      <ul class="play-list">
        <li class="play-list-item">
          <img
            class="play-img play-img1"
            src="./img/play/play-img1.png"
            alt="Screenshot of the game"
            width="220"
            height="96"
            loading="lazy"
          />
          <p class="play-item-text">
            Examine numeric clues on the edges of the puzzle grid.
          </p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img play-img2"
            src="./img/play/play-img2.png"
            alt="Screenshot of the game"
            width="220"
            height="96"
            loading="lazy"
          />
          <p class="play-item-text">
            Fill squares that logically match the clues.
          </p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img play-img3"
            src="./img/play/play-img3.png"
            alt="Screenshot of the game"
            width="220"
            height="96"
            loading="lazy"
          />
          <p class="play-item-text">
            Mark squares that should remain empty to help plan your next steps.
          </p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img play-img4"
            src="./img/play/play-img4.png"
            alt="Screenshot of the game"
            width="220"
            height="96"
            loading="lazy"
          />
          <p class="play-item-text">
            Reveal the entire hidden image as you correctly complete the grid.
          </p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img play-img5"
            src="./img/play/play-img5.png"
            alt="Screenshot of the game"
            width="220"
            height="96"
            loading="lazy"
          />
          <p class="play-item-text">
            Progress through increasingly larger and more intricate puzzles.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
